#Data Structures Questions

1. What are data structures, and why are they important?

- Data structure in python is a special format that help to organizing storing and accessing collection of data. They provide efficient ways to manage information.

- They are important because -
- choosing a right data structure significantyly impact the efficiensy and performance of the program.
- Its simplify the data manipulating like (adding , removing, modifying elements)

 2. Explain the difference between mutable and immutable data types with examples?

- The main difference between a mutable and immutable data type is  


: a data type that can be changed or modified like adding,removing etc after created is a mutable data type.

 : a data type that cant be changed or modified after created is a immutable data type.

 example:
 ```
a = ("Rahul",18)
b = a[0]="Pratik"
print(b) # it will throw an error because tuple cant be modified because it is  immutable.

a = ["Rahul",18]
b = a[0]="pratik
print(a)  # it will change the output ["Pratik",18] because list is a mutable data type.

3. What are the main differences between lists and tuples in Python?

- The main differences between a list and tuple are :

- lists are mutable and tupels are immutable

- for create a list we use []
- for create a tuple we use ()

4. Describe how dictionaries store data?

- Dictionaries  Store data as a key value pair. firstly we have to create a key and it has a ability to contains value. Its keys are unique and immutable.

5.  Why might you use a set instead of a list in Python?

- Set is a unordered  collection of unique elements.

so we can use a set instead of a list when we have to eleminate duplicates or performing fast membership test or set operation like union , intersection etc.

6. What is a string in Python, and how is it different from a list?

- String is sequence of charecters enclosed in quotes.

- It is different from a list because list is mutable and strings are immutable .

- strings can only contains charecters but list contains different Data type (int ,float,string,etc)

7. How do tuples ensure data integrity in Python?

- Tuple ensure data integrity by its immutable nature. its cant be changed or modified once its create and ensure its privacy and make its more reliable

8. What is a hash table, and how does it relate to dictionaries in Python ?

- Hash table is a data structure which stores a key value pair using a hash function to find the store data quickly.

example: if i write -
```
person{"name":'Rahul',"age":18}
```
its hashes  keys "name","age" .
uses those hash values to store 'Rahul' and "age" in a specific memory location.

9. Can lists contain different data types in Python ?

- Yes list can contain different data types because its knowns for its nature of storing hetrogeneous data.
like (int, float , string,boolean) etc

10.  Explain why strings are immutable in Python?

- Strings are immutable in python by design to ensure its safety.

- strings are hashable and immutable thats why its use as dict keys if they are not immutable then dict cant work properly.
- strings immutable nature   ensure to share strings without the risk of unexpected changes or data corruption.

11. What advantages do dictionaries offer over lists for certain tasks?

- Advantage  of dictionaries over lists are --

- list only support value accessing through indexing . where dictionaries value can access  through its specified key. That make it more faster than list.

- Also when  we need to eliminate the duplicate data then its possible in dict because list stored duplicates but dict only support unique elements.

12. Describe a scenario where using a tuple would be preferable over a list?

-
 A tuple would be more prefarable than a list  when we have to ensure that the data we stored cant be change , modify by anyone.
```
 example- Cordinates(48.000,34.879)
 ```
 suppose its a cordinates of a real location if i use list here instead of tuple it can be change or modify by anyone and the information will totally wrong.

13. How do sets handle duplicate values in Python?

- Sets are the unique elements of unordered collection.
- sets are design in that way that if there is any duplicate value set eleminate them and print only the unique value

14. How does the “in” keyword work differently for lists and dictionaries?

- In list 'in' keyword checks if the
values are present in the list or not.

- but dict 'in' keyword checks only  if the key is present in the dict or not. For check the values in dict we have to use .values().

Example-

```
a = {"Rahul":'18'}
"Rahul" in a # it will give the output true because the key is present in the dict

- but if we want to check the value then - '18' in a.values() # output true

15.  Can you modify the elements of a tuple? Explain why or why not?

- No we cant change a elements of a tuple because its immutable in nature.
- But a tuple can be modify if there is a mutable data structure inside the tuple like list but the tuple structure still the same.

Example-
```
a = ("a",[20,30])
a[1][0]=30
print(a)
#output = (a,[30,30])

16.  What is a nested dictionary, and give an example of its use case?

- Nested Dict in python is a dict inside a dict . it allows us to model more complex data.

example-
```
a = {
    "name":"Rahul",
    "age":18,
    "Grades":{    # nested dict
        "Math":80,
    }
}

a["Grades"]["Math"]
output = 80

17. Describe the time complexity of accessing elements in a dictionary?

- Accessing elements in a dictionary has an average-case time

- When we access a value with a key in python .

Calculates the hash of the key.

Directly goes to the location in memory where the value is stored.

18. In what situations are lists preferred over dictionaries?

-  list are preferred over dict when when we need to work with many complex values and also need to allow duplicates values and dont need key value pair .

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries considered as unordered before python 3.7 version because its dont ensure you the same output as the ordered we put them.

- But after coming of python 3.7 version we can rely on that it giving us the ordered collection of data.

- Data retrieval is very fast in dict its does not matter the order of the value we can access them very fast by through the right key.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

- There are some difference between a list and dict--

- list  values are access  by index
- dict values are access through its keys


- list can store duplicates values.
- dict key must be unique.

- list iterstes over values .
- dict iterates over values, keys,items

#Practical Questions

In [ ]:
# 1.Write a code to create a string with your name and print it
a = "Rahul Sarkar"
print("My name is :",a)

My name is : Rahul Sarkar

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
b = "Hello World"
print("The lenth of the string is:" , len(b))

The lenth of the string is: 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
c = "Python Programming"
print("first 3 charecters are:",c[:3])

first 3 charecters are: Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to ffjkfkfuppercase
d = "hello"
print("Original string:",d)
print("Uppercase string:",d.upper())

Original string: hello
Uppercase string: HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string
e = "I like apple"
print("Original String:", e)
print("Replaced String:", e.replace("apple","orange"))

Original String: I like apple
Replaced String: I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
f = list(range(1,6))
f

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

g = [1, 2, 3, 4]
print("Original list:",g)
print("Updated List:",g+[10])

Original list: [1, 2, 3, 4]
Updated List: [1, 2, 3, 4, 10]

In [ ]:
 #8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
h =[1, 2, 3, 4, 5]
print("Original List:",h)
h.remove(3)
print("Updated List:",h)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
i = ['a', 'b', 'c', 'd']
print("The second element in the list is:",e[1])

The second element in the list is:

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]
j = [10, 20, 30, 40, 50]
print("Original List:",j)
print("Reverse List:",j[::-1])

Original List: [10, 20, 30, 40, 50]
Reverse List: [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
k  = 100,200,300
print(tuple(k))

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
l = ('red', 'green', 'blue', 'yellow')
print("Second to last element of the tuple:",l[-2])

Second to last element of the tuple: blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
m =(10, 20, 5, 15)
print("Minimum number in the tuple:",min(m))

Minimum number in the tuple: 5

In [2]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
n = ('dog', 'cat', 'rabbit')
print("Index of the element cat is:",n.index('cat'))

Index of the element cat is: 1

In [ ]:
 # 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
o = ("orange","apple","kiwi")
print(" kiwi is in the tuple:","kiwi" in o)

 kiwi is in the tuple: True

In [ ]:
 # 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
p = 'a', 'b', 'c'
print("Converting in to a set:",set(p))

Converting in to a set: {'b', 'c', 'a'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
q = {1, 2, 3, 4, 5}
print("Clear all elements from the set:",q.clear())

Clear all elements from the set: None

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
r = {1, 2, 3, 4}
print("Original set:",r)
r.remove(4)
print("Updated list:",r)

Original set: {1, 2, 3, 4}
Updated list: {1, 2, 3}

In [ ]:
# 19.write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a1 = {1, 2, 3,}
a2 = {3,4,5}
print("Union of the two set is:",a1|a2)

Union of the two set is: {1, 2, 3, 4, 5}

In [ ]:
 # 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
b1 = {1,2,3}
b2 = {2,3,4}
print("Intersection of two set :",b1&b2)

Intersection of two set : {2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
c1 = dict(name="Rahul Sarkar", age=18,city="kolkata")
print(c1)

{'name': 'Rahul Sarkar', 'age': 18, 'city': 'kolkata'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age':25}
d1 = {'name': 'John', 'age':25}
print("Original list:",d1)
d1.update(country="USA")
print("Updated list:",d1)

Original list: {'name': 'John', 'age': 25}
Updated list: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
e1 ={'name': 'Alice', 'age': 30}
print("Value of the key 'name' is:",e1['name'])

Value of the key 'name' is: Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary  {'name': 'Bob', 'age': 22, 'city': 'New York'}.

f1  =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("Original List:",f1)
del f1['age']
print("Updated list:",f1)

Original List: {'name': 'Bob', 'age': 22, 'city': 'New York'}
Updated list: {'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
g1 = {'name': 'Alice', 'city': 'Paris'}
print("'city' key available in the dictionary:",'city' in g1)

'city' key available in the dictionary: True

In [ ]:
 # 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l1 = "Rahul",18
l5 = list(l1)
l2 = "Rahul", "Tapas",15
l7 =tuple(l2)
l3 = dict(name="Rahul Sarkar", age=18,city="kolkata")
print(f"This is a list:{l5}\nThis is a tuple:{l2}\nThis is a dictionary:{l3}")
                         #or
print('------------')
x = ["Rahul", 18]
y = ("Rahul", 18)
z = {"Name":'Rahul',"age":18}
print("list:",x,"\ntuple:",y,"\ndictionary:",z)

This is a list:['Rahul', 18]
This is a tuple:('Rahul', 'Tapas', 15)
This is a dictionary:{'name': 'Rahul Sarkar', 'age': 18, 'city': 'kolkata'}
------------
list: ['Rahul', 18]
tuple: ('Rahul', 18)
dictionary: {'Name': 'Rahul', 'age': 18}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
x1 = [4,77,44,22,14]
x2 = [i for i in sorted(x1)]
print("Random list:",x1,"\nSorted list:",x2)

Random list: [4, 77, 44, 22, 14]
Sorted list: [4, 14, 22, 44, 77]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
v1 = ["rahul", "apple", "orange"]
print("Element in the third index:",v1[2])

Element in the third index: orange

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result
n1 = {"Name":"Rahul",'Age':'18'}
n2 ={"City":"Delhi"}
print("First Dictionary:",n1)
print("Second Dictionary:",n2)
n1.update(n2)
print("Combined Dictionary:",n1)

First Dictionary: {'Name': 'Rahul', 'Age': '18'}
Second Dictionary: {'City': 'Delhi'}
Combined Dictionary: {'Name': 'Rahul', 'Age': '18', 'City': 'Delhi'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "cherry"]
set1 = set(list1)
print("list is:",list1,"\nconverting in to set:",set1)

list is: ['apple', 'banana', 'cherry']
converting in to set: {'apple', 'banana', 'cherry'}